<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django app</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="container">
        <div class="filters">
            <h1>Filters</h1>
            <form action="base.html" method="post">

                <input type="text"placeholder="Search" name="search">

                <label for="type_dev">Type: </label>

                <select name="type" id="id_type">
                    <option value="siren">Сирена</option>
                    <option value="loudspeaker">Громкоговоритель</option>
                </select>

                <label for="latitude">Latitude</label>
                <input type="text" name="latitude" size="10">
                <label for="longitude">Longitude</label>
                <input type="text" name="longitude" size="10">

                <label for="minrad">Min radius</label>
                <input type="text" name="minrad" size="10">
                <label for="maxrad">Max radius</label>
                <input type="text" name="maxrad" size="10">

                <button type="submit">Search</button>

            </form>
        </div>

        <div class="devices">
{#            {% block content %}#}
{#                test#}
{#            {% endblock %}#}
            {% for device in devices %}
                <div class="element">
                    <h2>{{ device.name }}</h2>
                    <p>тип: {{ device.type_device }}</p>
                    <p>адрес: {{ device.address }}</p>
                    <p>ширина: {{ device.latitude }}</p>
                    <p>долгота: {{ device.longitude }}</p>
                    <p>радус действия: {{ device.radius }}</p>
                </div>
            {% endfor %}

        </div>

    </div>

</body>
</html>