{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django app</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <div class="container">

        <form class="search" action="">
            <input id="search_name" type="text" placeholder="Поиск">
            <button type="submit">Search</button>
        </form>

        <div class="filters">
            <form action="" method="post">

                <label for="id_type">Type</label>
                <select id="id_type" name="type" >
                    <option value="siren">Сирена</option>
                    <option value="loudspeaker">Громкоговоритель</option>
                </select>

                <label for="latitude">Latitude</label>
                <input id="latitude" type="text" name="lat" size="10">
                <label for="longitude">Longitude</label>
                <input id='longitude' type="text" name="long" size="10">


                <label for="min-rad">Min radius</label>
                <input id="min-rad" type="text" name="minr" size="10">
                <label for="max-rad">Max radius</label>
                <input id="max-rad" type="text" name="maxr" size="10">

                <button type="submit">Filter</button>

            </form>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>




        </div>

    </div>

</body>
</html>